<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding Bells</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
    </link>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <h1 class="navbar-brand">Wedding Bells</h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile"> Dashboard </a>
                    </li>
                    <li class="nav-item">
                        {{#if logged_in}}
                            <button class="no-button" id="logout"> Logout </button>
                            <!-- <a class="nav-link" href="/logout"> Logout </a> DONT work -->
                        {{else}}
                            <a class="nav-link" href="/login"> Login </a>
                        {{/if}}
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/hp2"> Test Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile2"> Test Dash</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login2"> Test Login </a>
                    </li> --> 
                </ul>
            </div>
        </div>
    </nav>
    {{{ body }}}
    </div>
</body>

{{#if logged_in}}
    <script src="/js/logout.js"></script>
{{/if}}

</html>