<div class="row">
    <div class="col-md-6">
        <h2>Login</h2>
        <form class="form login-form">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <h2>Sign Up</h2>
        <form class="form signup-form">
            <div class="input-group">
                <span class="input-group-text">First and last name</span>
                <input type="text" aria-label="First name" class="inpt">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1 emailsinput"
                    aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1 passwordsinput">
            </div>
            <button type="submit" class="btn btn-primary">Sign-up</button>
    </div>
    </form>
    <div class="col-md-6">
        <img src="/images/Awesomesauce_Photography-581.jpg" class="img-thumbnail"
            alt="An image of an image 'Mr and Mrs'">
    </div>
</div>

<script src="./js/login.js"></script>