</div>
<div class="row">
    <div class="col-md-6">
        <h2>Login</h2>
        <form class="form login-form">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="mypurtty" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="mypurtty" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <div class="col-md-6">
            <h2>Signup</h2>
            <form class="form signup-form">
                <div class="form-group">
                    <label for="name-signup">name:</label>
                    <input class="form-input" type="text" id="name-signup" />
                </div>
                <div class="form-group">
                    <label for="email-signup">email:</label>
                    <input class="form-input" type="text" id="email-signup" />
                </div>
                <div class="form-group">
                    <label for="password-signup">password:</label>
                </div>
                <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">signup</button>
             <img src="/images/Awesomesauce_Photography-581.jpg" class="myimg" alt="An image of an image 'Mr and Mrs">
            <script src="./js/login2.js"></script>