.pw-input1 {
align-content: center;
margin-right: 100%;
}

.pw-input2 {
    align-content: center;
}

.signup-form {
    align-content: center;
    
}


.nameForm {
    margin-left: 40%;
    align-content: center;
}

.form-group2 {
    margin-left: 40%;
    align-content: center;
}

.form-group3 {
    align-content: center;
    margin-left: 36%;
}